// Main colors
$green-base: #4abc90;
$green-dark: #00bba6;
$green-light: #3dd669;
$green-semi: #e8faea;

// $blue-base: #6391FF; Init color
$blue-base: #393171;
$blue-dark: #272153;
$blue-light: #719bff;
$blue-semi: #dfe9ff;
$primary-color: #393171;

$gunmetal: #1f2532;
$gunmetal-inverse: #374053;

$gray-bg: #f8f9fb;
$primary-lite: #f8f7fd;
$primary-lite-2x: #f3f1fb;

// Supportive colors
$red-base: #ffeaeb;
$red: #f86161;
$red-dark: #e84343;
$red-light: #ff1f20;

// $gray-000: #ecf0f426;
$gray-000: #fcfdfe;
$gray-100: #edf0f4;
$gray-200: #d5d5ed;
$gray-300: #bdc4cc;
$gray-400: #a3acaf;
$gray-500: #777777;
$gray-600: #363636;

$white: #fff;
$black: #000;

//Yellow
$yellow-light: #fff8e6;
$yellow: #ffc107;
$yellow-dark: #bb9522;